/* resovendo alinhamento do calendario */

.navbar{
    background-color: #CFA5BA !important;
}

body {
    background-image: url("../IMG/wallpaper.png") !important;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
  }
  
  .content-align{
    display: flex !important;
    align-items: normal !important;

}

.ftco-section{
    flex: 1 !important;
    margin-top: 25px !important;
    padding: 0 !important;
}