.container{
    --bs-gutter-x: 0rem;
}

.title {
    display: flex; /* Use flexbox para centralizar */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    font-weight: bold; /* Aplica negrito ao texto */
    height: 15vh; /* Define a altura como 100% da altura da tela */
    margin: 0; /* Remove margem padrão para evitar espaçamento extra */
}


.exam-inputs input {
    border: none; /* Remova a borda padrão */
    border-radius: 10px; /* Faça as bordas arredondadas */
    background-color: #C68EAA; /* Defina a cor de fundo roxa */
    width:100%;
    padding: 5px; /* Adicione um espaçamento para separar o texto da barrinha */
    color: #271520; /* Defina a cor do texto para branco para melhor contraste */
}

/* Estilize os campos quando estiverem em foco */
.exam-inputs input:focus {
    background-color: #9F5C86 /* Altere a cor de fundo ao focar no campo */
}

.input-form input {
    border: none;
    border-radius: 24px;
    background-color: #C68EAA;
    padding: 7px;
    color: #271520;
    width: 300px; /* Adicione a largura de 30px */
}


.input-form{
    display: flex;
    gap: 15px;
}

/* Estilize os campos quando estiverem em foco */
.input-form input:focus {
    background-color: #9F5C86; /* Altere a cor de fundo ao focar no campo */
}

/* Estilize a bolinha */
input[type="radio"]:checked + input[type="radio"]::before {
    background-color: #C68EAA; /* Cor da bolinha */
}

/* Estilize o calendário */
input[type="date"] {
    border: none; /* Remova a borda padrão */
    border-radius: 10px; /* Faça as bordas arredondadas */
    background-color: #C68EAA; /* Defina a cor de fundo roxa */
    padding: 5px; /* Adicione um espaçamento para separar o texto da bolinha */
    color: #525252; /* Defina a cor do texto para branco para melhor contraste */
}

/* Estilize a barrinha do campo de médico */
#doctorName {
    border: none; /* Remova a borda padrão */
    border-radius: 10px; /* Faça as bordas arredondadas */
    background-color: #C68EAA; /* Defina a cor de fundo roxa */
    padding: 5px; /* Adicione um espaçamento para separar o texto da barrinha */
    color: #525252; /* Defina a cor do texto para branco para melhor contraste */
}

/* Estilize o campo de médico quando estiver em foco */
#doctorName:focus {
    background-color: #9F5C86 /* Altere a cor de fundo ao focar no campo */
}

.return-inputs{
    display: flex;
    justify-content:space-between;
}

.return-inputs label,
.exam-inputs label {
    display: block;
    margin-bottom: 5px;
    margin-top: 15px; /* Mantenha a mesma margem superior para todas as etiquetas */
}


.return-inputs input[type="radio"],
.return-inputs input[type="date"],
#doctorName {
    margin-top: 5px; /* Adiciona um espaçamento acima das caixas de texto */
}

.exam-inputs input {
    margin-top: 5px; /* Adiciona um espaçamento acima das caixas de texto */
}

.radio-inputs {
    display: flex; /* Cria uma disposição em linha */
    align-items: center; /* Centraliza verticalmente os itens */
    gap: 10px; /* Adiciona espaçamento entre os itens */
}

.input-group.date-medico {
    display: flex; /* Cria uma disposição em linha */
    align-items: center; /* Centraliza verticalmente os itens */
    gap: 10px; /* Adiciona espaçamento entre os itens */
}

.exam-inputs input[type="date"],
#doctorName {
    margin-top: 15px; /* Adicione uma margem superior maior para separar as caixas */
}

/* Adicione esta parte ao seu arquivo de estilo CSS existente */
.access {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    margin-top: 20px; /* Espaçamento acima dos botões */
}

.add-button button{
    background-color:#9F5C86; /* Cor de fundo  */
    border: none;
    border-radius: 20px; /* Bordas arredondadas */
    padding: 10px 20px; /* Espaçamento interno dos botões */
    margin: 0;
    cursor: pointer;
    font-size: inherit;
    color: white; /* Cor do texto branca */
    text-decoration: none;
    display: inline-block; /* Impede o sublinhado de link */
    transition: background-color 0.3s; /* Efeito de transição suave */
    width: 180px;
}

.save-button button{
    background-color:#9F5C86; /* Cor de fundo  */
    border: none;
    border-radius: 20px; /* Bordas arredondadas */
    padding: 10px 20px; /* Espaçamento interno dos botões */
    margin: 0;
    cursor: pointer;
    font-size: inherit;
    color: white; /* Cor do texto branca */
    text-decoration: none;
    display: inline-block; /* Impede o sublinhado de link */
    transition: background-color 0.3s; /* Efeito de transição suave */
    width: 180px;
}

.cancel-button button {
    background-color: #525252; /* Cor de fundo */
    border: none;
    border-radius: 20px; /* Bordas arredondadas */
    padding: 10px 20px; /* Espaçamento interno dos botões */
    margin: 0;
    cursor: pointer;
    font-size: inherit;
    color: white; /* Cor do texto branca */
    text-decoration: none;
    display: inline-block; /* Impede o sublinhado de link */
    transition: background-color 0.3s; /* Efeito de transição suave */
    width: 180px;
}
.save-button a,
.cancel-button a,
.add-button {
    color: white; /* Cor do texto branca */
    text-decoration: none; /* Remove o sublinhado */
}

.save-button,
.cancel-button
.add-button {
    margin: 0 10px; /* Espaçamento horizontal entre os botões */
}

.radio-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.radio-label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.radio-label input[type="radio"] {
    display: none;
}

.radio-custom {
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid #9F5C86;
    border-radius: 50%;
    margin-right: 5px;
    position: relative;
}

.radio-label input[type="radio"]:checked + .radio-custom::after {
    content: '';
    display: block;
    width: 17px;
    height: 17px;
    background-color: #9F5C86;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left {
    width: fit-content;
    margin-top: 30px;
}

.form-via{
    width: 100px;
    background-color:  #C68EAA;
    border-radius: 5px;
    height: 35px;
    justify-content: center;
}
.form-qtd{
    width: 100px;
    background-color:  #26ac1f;
    border-radius: 5px;
    height: 35px;
    justify-content: center;
}

.container-box{
    display:flex;
    flex-direction: column;
    gap: 10px;
}

.box{
    height: 90px;
}

.topInputContainer{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.scroll::-webkit-scrollbar {
    display: none;
}

/* Cor dos campos de digitação */
.scroll{
    width: 100%;
    background-color:  #C68EAA;
    border-radius: 5px;
    height: 40%;
    resize: none;
}