@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.container{
    --bs-gutter-x: 0rem;
}

.title{
    font-weight: bold;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.register-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #C68EAA;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color: white;
}

.input-box input:focus-visible {
    outline: 1px solid #C68EAA;
}

.input-box label,
.access-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #271520;
}

.input-box input::placeholder {
    color: #000000be;
}

.access-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
}

.access-input {
    display: flex;
    align-items: center;
}

.access-input input {
    margin-right: 0.35rem;
}

.access-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.register-button {
    border: none;
    background-color: #6B3E5B;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.register-button:hover {
    background-color: #6B3E5B;
}

.modal-footer{
    margin-top: 30px;
    border-color: #9F5C86;
    justify-content: center;
}

.form-inputs{
    width: 100%;
    background-color: #C68EAA;
    border-radius: 5px;
    height: 25%;
}

.form-concentracion{
    width: 100%;
    background-color:  #C68EAA;
    border-radius: 5px;
    height: 35px;
}
.form-posology{
    width: 100%;
    background-color:  #C68EAA;
    border-radius: 5px;
    height: 35px;
}
.form-via{
    width: 100px;
    background-color:  #C68EAA;
    border-radius: 5px;
    height: 35px;
    justify-content: center;
}
.form-qtd{
    width: 100px;
    background-color:  #C68EAA;
    border-radius: 5px;
    height: 35px;
    justify-content: center;
}

.container-farmacy-via-quantity{
    justify-content: space-between;
    align-items: center;
}

.scroll::-webkit-scrollbar {
    display: none;
}

.scroll{
    width: 100%;
    background-color:  #C68EAA;
    border-radius: 5px;
    height: 40%;
    resize: none;
}

.radio-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.radio-label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.radio-label input[type="radio"] {
    display: none;
}

.radio-custom {
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid #6B3E5B;
    border-radius: 50%;
    margin-right: 5px;
    position: relative;
}

.radio-label input[type="radio"]:checked + .radio-custom::after {
    content: '';
    display: block;
    width: 17px;
    height: 17px;
    background-color: #6B3E5B;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left {
    width: fit-content;
    margin-top: 30px;
}