@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

.navbar{
    background-color: #CFA5BA !important;
    position: fixed;
    top: 0;
    width: 100%;
}

body {
    font-family: 'poppins', sans-serif;
    background-image: url("../Navbar/wallpaper.png"); 
    background-color: #E9E9E9;
    overflow-x: hidden;
    padding-top: 75px;
  }

.logo{
    width: 200px !important;
}

.sidebar-icon {
    font-size: 20px !important;
    margin-right: 10px !important;
    
}

.nav-link{
    font-size: 15px;
    display: flex !important;
    align-items: center !important;
    color: #271520 !important;
    text-decoration: none !important;
    border-radius: 30px;
    margin: 12px 12px 5px 40px;
    padding: 0px 10px 0px 10px !important;
}

.nav-link:hover{
    background-color: #271520 !important;
    color: #ffffff !important;
}
.nav-link:focus {
    background-color: #271520;
    color: #ffffff !important;
    text-decoration: none !important;
    margin-top: 20px !important;
}

.nav-user{
    display: flex !important;
    align-items: center !important;
    color: #271520 !important;
    text-decoration: none !important;
    padding: 10px;
    transition: background-color 0.2s !important;
}
.nav-user:hover {
    color: #271520 !important;
}

.icon_person{
    padding: 12px !important;
    margin-bottom: 10px !important;
    background-color: #271520 !important;
    color: #CFA5BA !important;
    border-radius: 100% !important;
    font-size: 24px
}

.dropdown-menu{
    background-color: #A97F95;
    position: absolute;
    margin-left: -60%;
}

.drop_user{
    margin-left: 2rem !important;
    padding-left: 4rem !important;
}

@media (max-width: 768px) {
    .drop_user {
        margin-left: 0 !important;
        padding-left: 0 !important;
        border-left: none !important;
    }

    .navbar-nav {
        flex-direction: column;
    }

    .nav-link {
        margin: 5px 12px;
    }

    .navbar-toggler {
        order: -1;
        margin-left: auto;
    }

    .logo-container {
        display: flex;
        align-items: center;
    }
    
    .logo {
        width: 200px;
        transition: width 0.3s ease-in-out;
    }
}

@media (max-width: 768px) {
    .logo {
        width: 100px;
    }
}